<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!--Made By OHAD - <title>{{appName}} - {{title}}</title>-->
  <title>{{appName}}</title>
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
  <meta name="keywords" content="node.js, express, mongoose, mongodb, angularjs, swig">
  <meta name="description" content="MEAN - A Modern Stack: MongoDB, ExpressJS, AngularJS, NodeJS. (BONUS: Passport User Support).">

  <meta property="fb:app_id" content="APP_ID">
  <meta property="og:title" content="{{appName}} - {{title}}">
  <meta property="og:description" content="MEAN - A Modern Stack: MongoDB, ExpressJS, AngularJS, NodeJS. (BONUS: Passport User Support).">
  <meta property="og:type" content="website">
  <meta property="og:url" content="APP_URL">
  <meta property="og:image" content="APP_LOGO">
  <meta property="og:site_name" content="MEAN - A Modern Stack">
  <meta property="fb:admins" content="APP_ADMIN">

  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
  <!--<link rel="stylesheet" href="/icu/assets/lib/dralular/dist/dragular.css">-->

  <script src="/socket.io/socket.io.js"></script>
  <script src="/dist/polyfill.min.js"></script>

  {% for file in aggregatedassets.header.css %}
    <link rel="stylesheet" href="/dist{{file}}">
  {% endfor %}

  {% for file in aggregatedassets.footer.css %}
    <link rel="stylesheet" href="/dist{{file}}">
  {% endfor %}

  {% for file in aggregatedassets.header.js %}
    <script type="text/javascript" src="/dist{{file}}"></script>
  {% endfor %}

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
