<div class="entity-details-header-bar" ng-class="{ 'disabled' : !havePermissions('summary')}">

    <detail-favorite value="item.star" on-change="onStar"></detail-favorite>

    <detail-assign value="item.assign" me="me" list="people" on-change="onAssign"></detail-assign>

    <detail-due value="item.due" on-change="onDateDue"></detail-due>

    <detail-status value="item.status" list="statuses" on-change="onStatus"></detail-status>

    <detail-menu items="menuItems"></detail-menu>

</div>

<details-view item="item" entity-type="'tasks'"></details-view>

<div class="entity-details task-details scroll" ng-if="item._id && permsToSee">

  <div class="permission" ng-if="item && !item._id && !permsToSee">
    <div class="perIcon"></div>
    <div class="perTitle">{{ 'perTitle' | i18next }}</div>
    <div class="perMsg">{{ 'perMsg' | i18next }}</div>
  </div>

  <div class="detail-buttons">
    <button class="detail-button approval" ng-click="updateStatusForApproval()" ng-if="item.status!='waiting-approval' && item.assign && item.assign._id == me._id && !isRecycled">
      {{'updateStatusForApproval' | i18next }}
    </button>
  </div>

  <detail-category placeholder="'selectProject' | i18next" value="item.project" items="projects" on-create="newCategory" on-change="onCategory" ng-class="{ 'disabled' : !havePermissions('tags')}" ng-if="!item.parent" ></detail-category>

  <detail-category
    placeholder="'selectDiscussion' | i18next"
    value="item.discussion"
    items="discussions"
    type="'discussion'"
    on-change="onTaskRelation"
    ng-class="{ 'disabled' : !havePermissions('tags')}"
    ng-if="!item.parent">
  </detail-category>


  <div class="parent" ng-if="item.parent">
    {{currentContext.entity.title}}
  </div>


  <div ng-if="!disabled && havePermissions('description')">
    <div class="detail-title" >
      <div class="item-title"
         ng-init="enableInputs()"
         tabindex="1"
         ng-model="item.title"
         medium-editor
         strip-br="true"
      >
      </div>
    </div>
    <div class="detail-desc"
       tabindex="2"
       ng-model="item.description"
       medium-editor
       strip-br="true"
       options="{{editorOptions}}"
    >
    </div>
  </div>

  <div ng-if="disabled || !havePermissions('description')">
    <div class="detail-title" >
      <div class="item-title"
         tabindex="1"
         ng-model="item.title"
         medium-editor
         strip-br="true"
         data-disable-editing="true"
         data-disable-toolbar="true"
      >
      </div>
    </div>
    <div class="detail-desc"
       tabindex="2"
       ng-model="item.description"
       medium-editor
       strip-br="true"
       options="{{editorOptions}}"
       data-disable-editing="true"
       data-disable-toolbar="true"
    >
    </div>
  </div>

  <button data-toggle="collapse" data-target="#customdata" ng-if="item.custom && item.custom.data" class="detail-button customdata">Custom Data</button>
  <div id="customdata" class="collapse">
      <div ng-repeat="(key, value) in item.custom.data" class="customdata">
          <div>{{key}}</div><div>{{value}}</div>
      </div>
  </div>

  <detail-tags value="item.tags" ng-class="{ 'disabled' : !havePermissions('tags')}" list="tags" on-change="onTags"></detail-tags>

  <div class="sub-items-section" ng-class="{ 'disabled' : !havePermissions('subs')}">

    <detail-templater
      templates="template"
      on-save="saveTemplate"
      on-delete="deleteTemplate"
      on-implement="implementTemplate"
      item="item" users="people" me="me"
    ></detail-templater>

    <icu-sub-task-list
      class="icu-sub-task-list entity-list-container"
      ng-class="{small: currentContext.entityName !== 'all', big: currentContext.entityName === 'all'}"
      task="item"
      tasks="item.subTasks"
      load-next="loadNext"
      load-prev="loadPrev"
      draw-arrow="true"
      order="sorting"
      parent="{{item._id}}"
    ></icu-sub-task-list>

  </div>

  <detail-tabs tabs="tabs" item="item" entity-name="task" ng-class="{ 'disabled' : !havePermissions('tabs', enableRecycled)}"></detail-tabs>

  <icu-members-footer
    ng-if="item._id"
    ng-class="{ 'disabled' : !havePermissions('watchers')}"
    entity="item"
    users="people"
    me="me"
  ></icu-members-footer>

</div>
