<div class="sub-tasks-title" ng-show="addSubTasks || task.subTasks[0]._id">
    {{ 'subTasks' | i18next }}
</div>
<div ng-show="!addSubTasks && !task.subTasks[0]._id"
     class="add-sub-tasks sub-tasks-title"
     ng-click="addSubTasks = !addSubTasks">
    {{ 'addSubTask' | i18next }}
</div>

<div class="list-table sub-entity scroll" ng-show="addSubTasks || task.subTasks[0].id">

    <div ng-show="isLoading" class="loader"></div>
    <table class="tasks" infinite-scroll='loadMore()' infinite-scroll-container="'.list-table'" infinite-scroll-parent>
        <tbody>
            <tr data-ng-repeat="task in tasks track by $index | filterRecycled | filterByOptions | filterByActiveStatus | orderBy:order.field:order.isReverse"
                ng-click="initialize($event, task)"
             icu-list-row
             data-id="{{task._id}}"
             ng-class="{'isNew': task.isNew == true,'notNew':task.isNew == false}"
             ng-mouseover="task.showDelete = true"
             ng-mouseleave="deleteShowDlt(task)"
             data="{    task: task,
                        index: $index,
                        drawArrow: drawArrow,
                        updateCb: debouncedUpdate,
                        searchCb: search,
                        onEnterCb: onEnter,
                        hideAutoCompleteCb: hideAutoComplete,
                        focusAutoCompleteCb: focusAutoComplete,
                        displayOnly: displayOnly,
                        searchResults: searchResults,
                        autocomplete: autocomplete,
                        delete: delete,
                        changeState: changeState,
                        people: people,
                        dueOptions: dueOptions,
                        closeOldDateNotification: closeOldDateNotification,
                        initDue: initDue,
                        statuses: statuses,
                        checkDate: checkDate,
                        open: open}"
            type="subtasks">
                <td>{{ $index }}<td>
            </tr>
        </tbody>
    </table>
    <div ng-show="autocomplete && searchResults" class="autocomplete">
        <div class="suggestions">
            <p class="suggestion" ng-repeat="result in searchResults"
                ng-class="{ 'active': $index === selectedSuggestion }"
                ng-mousedown="select(result)" ng-bind-html="result.title">
            </p>
        </div>
    </div>
</div>
