<td ng-hide="data.result.visible || multipleSelectMode" class="id">{{data.result.index + 1}}</td>
<td ng-show="data.result.visible || multipleSelectMode" class="tick">
    <input type="checkbox"
        ng-model="data.result.selected"
        ng-change="data.multipleSelectRefreshSelected(data.result, multipleSelectMode);data.changeMultipleMode()"
    >
</td>
<td class="icon icon-task"></td>
<td class="name search-row" title="{{data.result.title}}" ng-bind-html="data.result.title"></td>

<td class="project">
    <span class="tag project"
          title="{{data.result.projectObj.title}}"
          ng-style="color={'background-color': '#' + data.result.projectObj.color}" ng-bind-html="data.result.projectObj.title">
    </span>
</td>
<td class="arrow"><i class="fa chevron-right"></i></td>
