<td ng-hide="data.result.visible || multipleSelectMode" class="id">{{data.result.index + 1}}</td>
<td ng-show="data.result.visible || multipleSelectMode" class="tick">
  <input type="checkbox"
         ng-model="data.result.selected"
         ng-change="data.multipleSelectRefreshSelected(data.result, multipleSelectMode);data.changeMultipleMode()"
  >
</td>
<td class="icon icon-folder"></td>
<td class="name search-row" title="{{data.folder.title}}" ng-bind-html="data.result.title[0]"></td>

<td class="office">
    <span class="tag office"
          title="{{data.result.officeObj.title}}"
          ng-style="color={'background-color': '#' + data.result.officeObj.color}"
          ng-bind-html="data.result.officeObj.title">
    </span>
</td>
<td class="arrow"><i class="fa chevron-right"></i></td>
