<td class="id">{{data.result.index + 1}}</td>
<td class="icon"><img src="/icu/assets/img/icon-attachment.svg"></img></td>
<td class="name" title="{{data.result.name}}">{{data.result.name}}</td>
<td class="project"></td>
<td class="arrow"><i class="fa chevron-right"></i></td>
