<td class="id">{{data.result.index + 1}}</td>
<td class="icon icon-document"></td>
<td class="name" title="{{data.result.file.filename}}">{{data.result.file.filename}}</td>
<td class="project"></td>
<td class="arrow"><i class="fa chevron-right"></i></td>
