<td class="id">{{ data.task._id ? data.index + 1 : ''}}</td>
<td class="name"
    title="{{data.task.title}}"
    ng-attr-colspan="{{data.task._id ? undefined : 5}}"
    ng-attr-tabindex="{{ data.task._id ? undefined : '3'}}"
    ng-attr-contenteditable="{{(!data.displayOnly && haveEditiorsPermissions(data.task)) && !recycled(data.task)}}"
    placeholder="{{'createNewTask' | i18next}}"
    strip-br="true"
    ng-change="data.searchCb(data.task) || data.updateCb(data.task)"
    ng-keydown="data.focusAutoCompleteCb($event) || data.onEnterCb($event, data.index)"
    ng-model="data.task.PartTitle"
    ng-blur="bluring(data.task, $event); data.hideAutoCompleteCb(data.task)"
    ng-focus="focusing(data.task)"
    ng-class="{'noFocus':isBlurred(data.task)}"
>
</td>
<td class="project">
    <span class="tag project"
          title="{{data.task.project.title}}"
          ng-style="{'background-color': '#' + data.task.project.color, 'color': 'white'}"
          ng-bind-html="data.task.project.title">
    </span>
</td>
<td class="status col-sm-2"  ng-class="data.task.status">
    {{ (data.task._id ? data.task.status  : '') | i18next }}
</td>
<td class="due">
    {{ (data.task._id ? data.task.due  : '') | date: 'dd/MM/yyyy' }}
</td>
<td class="arrow">
    <div ng-if="data.drawArrow && data.task._id" class="row-arrow"></div>
</td>
