<div class="detailspane-modal">
    <div class="modal-header">
        <button class="closeBtn" ng-click="cancel()">X</button>
    </div>
    <div class="modal-body" id="modal-body">
        <div ui-view></div>
    </div>
</div>
