<style>
    .detailspane .detail-desc.medium-editor-placeholder:not(:focus):before {
        content: '{{ 'enterDescription' | i18next }}';
    }
    .detailspane .item-title.medium-editor-placeholder:not(:focus):before {
        content: '{{ 'enterTitle' | i18next }}';
    }
    .detailspane .officeDetails.medium-editor-placeholder:not(:focus):before {
        content: '{{ 'optional' | i18next }}';
    }
</style>
<div icu-notifications-header discussions="discussions" projects="projects" me="me" offices="offices" folders="folders" office-documents='officeDocuments' templateDocs='templateDocs'></div>
<div data-ui-view="detailspane"  ng-class="{ 'disabled' : disabled}"  class="entity-details"></div>
