<div class="icu-data">
<div icu-sidepane
     tasks="tasks"
     projects="projects"
     discussions="discussions"
     people="people"
     offices="offices"
     folders="folders"
     office-documents="officeDocuments"
     templateDocs="templateDocs"
     current-state="{{currentState}}"
     class="sidepane animate-hide"
     change-layout="changeLayout"
     get-side-menu-icon="getSideMenuIcon"

     ng-hide="menu.isHidden"></div>
    <div class="panes-wrapper"
         ng-class="{ wide: menu.isHidden }"
         ng-if="state.current.name.indexOf('adminSettings') < 0">
        <div icu-middlepane
             class="middlepane"
             ng-class="{ wide: detailsPane.isHidden }">
        </div>
        <div icu-detailspane
             class="detailspane animate-hide"
             ng-hide="detailsPane.isHidden"
             me="me"
             projects="projects"
             discussions="discussions"
             offices="offices"
             folders="folders"
             office-documents="officeDocuments"
             templateDocs="templateDocs">
        </div>

    </div>
    <div class="panes-wrapper"
         ng-class="{ wide: menu.isHidden }"
         ng-if="state.current.name.indexOf('adminSettings')>0">
        <div icu-mainpane class="mainpane"></div>
    </div>
</div>
