<details-view item="item" entity-type="'offices'"></details-view>

<div class="entity-details office-details" style="height:auto;" ng-if="item._id && permsToSee">

  <div class="permission" ng-if="item && !item._id && !permsToSee">
    <div class="perIcon"></div>
    <div class="perTitle">{{ 'perTitle' | i18next }}</div>
    <div class="perMsg">{{ 'perMsg' | i18next }}</div>
  </div>

  <div class="entity-details-header-bar" ng-class="{ 'disabled' : !havePermissions('summary')}">

    <detail-favorite value="item.star" on-change="onStar"></detail-favorite>

    <detail-color value="item.color" on-change="onColor"></detail-color>

    <detail-hi value="item" on-click="onWantToCreateRoom()"></detail-hi>

    <detail-menu items="menuItems" ng-class="{ 'enabled' : haveEditiorsPermissions()}"></detail-menu>

  </div>

  <div ng-if="!disabled && havePermissions('description')">
    <div class="detail-title">
      <div class="item-title"
         contenteditable="true"
         tabindex="1"
         strip-br="true"
         ng-model="item.title"
         medium-editor
      >
      </div>
    </div>

    <div class="detail-desc"
       ng-class="{ 'disabled' : !havePermissions('description')}"
       contenteditable="true"
       tabindex="2"
       strip-br="true"
       medium-editor
       ng-model="item.description"
       options="{{editorOptions}}"
    >
    </div>
  </div>

  <div ng-if="disabled || !havePermissions('description')">
    <div class="detail-title">
      <div class="item-title"
           contenteditable="true"
           tabindex="1"
           strip-br="true"
           ng-model="item.title"
           medium-editor
           data-disable-editing="true"
           data-disable-toolbar="true"
      >
      </div>
    </div>

    <div class="detail-desc"
         ng-class="{ 'disabled' : !havePermissions('description')}"
         contenteditable="true"
         tabindex="2"
         strip-br="true"
         medium-editor
         ng-model="item.description"
         options="{{editorOptions}}"
         data-disable-editing="true"
         data-disable-toolbar="true"
    >
    </div>
  </div>

  <div class="detail-fields">

    <label>{{ 'unit' | i18next }}</label>
    <div class="text officeDetails"
     contenteditable="true"
     tabindex="2"
     strip-br="true"
     ng-model="item.unit"
     options="{{editorOptions}}"
     medium-editor></div>

    <label>{{ 'tel' | i18next }}</label>
    <div class="text officeDetails"
      contenteditable="true"
      tabindex="2"
      strip-br="true"
      ng-model="item.tel"
      options="{{editorOptions}}"
      medium-editor></div>

      <label>{{ 'internalTel' | i18next }}</label>
      <div class="text officeDetails"
        contenteditable="true"
        tabindex="2"
        strip-br="true"
        ng-model="item.internalTel"
        options="{{editorOptions}}"
        medium-editor></div>


  </div>

    <detail-tabs tabs="tabs" item="item" entity-name="office" ng-class="{ 'disabled' : !havePermissions('tabs', enableRecycled)}"></detail-tabs>

  <icu-members-footer
    ng-if="item._id"
    ng-class="{ 'disabled' : !havePermissions('watchers')}"
    entity="item"
    users="people"
    me="me"
  ></icu-members-footer>

</div>
