<div class="list-table" >
    <div ng-show="isLoading" class="loader"></div>
    <div ng-init="entityType = {entity: 'task'};" />
    <table  class="tasks" infinite-scroll='loadMore()' infinite-scroll-container="'.list-table'" infinite-scroll-parent>
        <tbody  class='containerVertical'>
            <tr data-ng-repeat="task in tasks | filterRecycled | filterByOptions | filterByActiveStatus:entityType | orderBy:order.field:order.isReverse"
                data-ng-class="{ 'active': isCurrentState(task._id), 'empty' :  !task._id, 'roww' : task._id }"
                ng-class="task._id ? '': 'empty'"
                ng-click="initialize($event, task)"
                ng-mousedown="currentTaskId(task._id)"
                icu-list-row
                data-id="{{task._id}}"
                data="{ task: task,
                        index: $index,
                        drawArrow: drawArrow,
                        updateCb: debouncedUpdate,
                        searchCb: search,
                        onEnterCb: onEnter,
                        hideAutoCompleteCb: hideAutoComplete,
                        focusAutoCompleteCb: focusAutoComplete,
                        displayOnly: displayOnly,
                        searchResults: searchResults,
                        autocomplete: autocomplete,
                        delete: delete }"
                type="task">
                <td>{{ $index }}<td>
            </tr>

        </tbody>
    </table>
    <!-- <div ng-show="autocomplete && searchResults" class="autocomplete">
        <div class="suggestions">
            <p class="suggestion" ng-repeat="result in searchResults"
                ng-class="{ 'active': $index === selectedSuggestion }"
                ng-mousedown="select(result)">
                {{result.title}}
            </p>
        </div>
    </div> -->
</div>
<div class="bottomBar" style="height: 10px;"></div>
<div class="list-table-print">
    <div class="header">
        <div>{{'name' | i18next}}</div>
        <div>{{'project' | i18next}}</div>
        <div>{{'status' | i18next}}</div>
        <div>{{'dueDate' | i18next}}</div>
        <div>{{'members' | i18next}}</div>
    </div>
    <div data-ng-repeat-start="task in tasks | filterRecycled | filterByOptions | filterByActiveStatus:entityType | orderBy:order.field:order.isReverse" class="task-row">
        <div>{{task.title}}</div>
        <div>
            <span class="tag project"
                title="{{task.project.title}}"
                ng-style="{'background-color': '#' + task.project.color, 'color': 'white'}">
                {{task.project.title}}
            </span>
        </div>
        <div class="status" ng-class="task.status">
            {{task.status | i18next }}
        </div>
        <div>
            {{task.due | date: 'dd/MM/yyyy'}}
        </div>
        <div class="watchers">
            <span ng-repeat="watcher in task.watchers">{{watcher.name}}</span>
        </div>
    </div>
    <div data-ng-repeat-end="" class="subTasks">
        <div ng-repeat="subTask in task.subTasks" ng-if="subTask._id">
            <div>{{subTask.title}}</div>
            <div class="status" ng-class="subTask.status">
                {{subTask.status | i18next }}
            </div>
            <div>
                {{subTask.due | date: 'dd/MM/yyyy'}}
            </div>
            <div>
                <span ng-repeat="watcher in subTask.watchers">{{watcher.name}}</span>
            </div>
        </div>
    </div>
</div>
