<details-view item="item" entity-type="'folders'"></details-view>

<div class="entity-details folder-details" ng-if="item._id">

  <div class="permission" ng-if="item && !item._id && !permsToSee">
    <div class="perIcon"></div>
    <div class="perTitle">{{ 'perTitle' | i18next }}</div>
    <div class="perMsg">{{ 'perMsg' | i18next }}</div>
  </div>

  <div class="entity-details-header-bar" ng-class="{ 'disabled' : !havePermissions('summary')}">

    <detail-favorite value="item.star" on-change="onStar"></detail-favorite>

    <detail-status value="item.status" list="statuses" on-change="onStatus"></detail-status>

    <detail-color value="item.color" on-change="onColor"></detail-color>

    <detail-hi value="item" on-click="onWantToCreateRoom()"></detail-hi>

    <detail-menu items="menuItems" ng-class="{ 'enabled' : haveEditiorsPermissions()}"></detail-menu>

  </div>

  <detail-category placeholder="'selectOffice' | i18next" value="item.office" items="offices" on-create="newCategory" on-change="onCategory" ng-if="!item.parent" ></detail-category>

  <div class="parent" ng-if="item.parent" ng-bind-html="currentContext.entity.title"></div>

  <div ng-if="!disabled && havePermissions('description')">
    <div class="detail-title">
      <div class="item-title"
         contenteditable="true"
         tabindex="1"
         strip-br="true"
         ng-keydown="onEnter($event)"
         ng-model="item.title"
         ng-change="updateCurrentFolder()"
         medium-editor>
      </div>
    </div>

    <div class="detail-desc"
       ng-class="{ 'disabled' : !havePermissions('description')}"
       contenteditable="true"
       tabindex="2"
       strip-br="true"
       medium-editor
       ng-model="item.description" options="{{editorOptions}}"
    >
    </div>
  </div>

  <div ng-if="disabled || !havePermissions('description')">
    <div class="detail-title">
      <div class="item-title"
         contenteditable="true"
         tabindex="1"
         strip-br="true"
         ng-keydown="onEnter($event)"
         ng-model="item.title"
         ng-change="updateCurrentFolder()"
         medium-editor
         data-disable-editing="true"
         data-disable-toolbar="true"
      >
      </div>
    </div>

    <div class="detail-desc"
       ng-class="{ 'disabled' : !havePermissions('description')}"
       contenteditable="true"
       tabindex="2"
       strip-br="true"
       medium-editor
       ng-model="item.description" options="{{editorOptions}}"
       data-disable-editing="true"
       data-disable-toolbar="true"
    >
    </div>
  </div>

  <detail-tags value="item.tags" ng-class="{ 'disabled' : !havePermissions('tags')}" list="tags" on-change="onTags"></detail-tags>

  <detail-tabs tabs="tabs" item="item" entity-name="folder" ng-class="{ 'disabled' : !havePermissions('tabs', enableRecycled)}"></detail-tabs>

  <icu-members-footer
    ng-if="item._id"
    ng-class="{ 'disabled' : !havePermissions('watchers')}"
    entity="item"
    users="people"
    me="me"
  ></icu-members-footer>

</div>
