<div class="filters">

    <div class="left-wrapper">

        <div class="select-wrapper select-wrapper-active-status">
            <div tooltips tooltip-template="{{'filter by activity status' | i18next}}">
                <ui-select ng-disabled="activeToggle.disabled"
                           ng-model="activeToggle.field"
                           on-select="filterActive();loadMore()"
                           search-enabled="false">
                    <ui-select-match>
                        <button class="tasks active-status"><span class="bold">{{'status' | i18next}}: </span>{{$select.selected.title | i18next }}</button>
                    </ui-select-match>
                    <ui-select-choices class="sorting" repeat="field.value as field in activeToggleList">
                        {{field.title | i18next}}
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>

        <div class="sortByStar">
            <button ng-click="toggleStarred()" ng-class="{ 'orange': starred }" class="favorites">
                <i class="fa fa-star"  tooltips tooltip-template="{{'sort by star' | i18next}}"></i>
            </button>
        </div>

    </div>

    <div class="print-wrapper">
        <button ng-click="print()" ng-class="{ 'orange': starred }" class="favorites">
            <i class="fa fa-print"></i>
        </button>
        <button ng-if="showTaskExcel" ng-click="taskExcel()"  class="excel">
            <i class="fa fa-file-excel-o"></i>
        </button>
    </div>

    <div ng-if="showOfficeDocumentsExcel" class="select-wrapper">
        <div tooltips tooltip-template="{{'Excel Summary' | i18next}}">
            <ui-select ng-model="excel.selected"  search-enabled="false" >
                    <ui-select-match >  <button class="excel"><i class="fa fa-file-excel-o"></i></button> </ui-select-match>
                    <ui-select-choices class="sorting" repeat="office in excel.officeList">
                      <div  icu-open-modal="export-excel-by-date" entity-name="export-excel-by-date" show-modal="true" modal-name="export-excel-by-date" data="office"
                      class="DocumentIconsLine att officeSelect">
                      {{office.title}}
                    </div>
                    </ui-select-choices>
                  </ui-select>
        </div>
    </div>
    <div class="select-wrapper">
        <div tooltips tooltip-template="{{'sort by' | i18next}}">
            <button class="button-left-part" ng-click="changeOrder()" ng-class="{'rotate' : sorting.isReverse}"></button>
            <ui-select class="inline-block"
                       ng-model="sorting.field"
                       on-select="loadMore()"
                       search-enabled="false">
                <ui-select-match>
                    <button class="button-right-part tasks">{{$select.selected.title | i18next}}</button>
                </ui-select-match>
                <ui-select-choices class="sorting" repeat="field in sortingList">
                    {{field.title | i18next}}
                </ui-select-choices>
            </ui-select>
        </div>
    </div>

</div>
