
<div class="list-table scroll">
    <div ng-show="isLoading" class="loader"></div>
    <table class="projects" infinite-scroll='loadMore()' infinite-scroll-container="'.list-table'" infinite-scroll-parent>
        <tbody class='containerVertical'>
            <tr data-ng-repeat="item in visibleItems"
                data-ng-class="{ 'active': isCurrentState(item._id), 'multipleSelected': item.selected }"
                ng-click="onClickRow($event, item)"
                ng-include="unifiedRowTpl"
                ng-mouseover="showTick(item)"
                ng-mouseleave="hideTick(item)"
            >
            </tr>
        </tbody>
    </table>
</div>
<div
    class="create-new-item"
    ng-if="!multipleSelectMode"
    ng-click="onCreate()"
    tabindex="0"
    ng-model="newItem"
    >{{'Create New Item' | i18next}}</div>
<div class="bottomBar" style="height: 10px;"></div>
<div class="list-table-print">
    <div class="header">
        <div>{{'name' | i18next}}</div>
        <div>{{'status' | i18next}}</div>
    </div>
    <div data-ng-repeat="item in visibleItems" class="task-row">
        <div>
            {{item.title | htmlToPlaintext}}
        </div>
        <div class="status" ng-class="item.status">
            {{item.status | i18next }}
        </div>
    </div>
</div>
