<tr ng-repeat="activity in activities | orderBy: 'date': false"
    ng-click="initiate($event, activity.entityObj, activity.entityType)"
    ng-if="activity.updateField"
>
    <td>
        <div class="update-head">
            <div class="title icon {{activity.entityType}}" ng-bind-html="activity.entityObj.title || ( activity.entityType | i18next )"></div>
            <div class="parent"
                 ng-style="{'background-color': '#' + activity.parentColor, 'color': 'white'}"
                 ng-init="getParent(activity)"
                 ng-bind-html="activity.parent">
            </div>
        </div>
        <div class="update-body">
            <div icu-avatar user="activity.creator"></div>
            <div class="update-content">
                <div class="update-info">
                    <div class="update-action">{{getActivityDescription(activity) | htmlToPlaintext}}</div>
                    <div class="update-date">{{formatDate(activity.created)}}</div>
                </div>
                <div class="update-data">{{activity.status}}</div>
            </div>
        </div>
    </td>
</tr>
