<details-view item="item" entity-type="'templateDocs'"></details-view>

<div class="entity-details templateDoc-details">

  <div class="permission" ng-if="item && !item._id && !permsToSee">
    <div class="perIcon"></div>
    <div class="perTitle">{{ 'perTitle' | i18next }}</div>
    <div class="perMsg">{{ 'perMsg' | i18next }}</div>
  </div>

  <div class="entity-details-header-bar" ng-class="{ 'disabled' : !havePermissions('summary')}">

    <detail-menu on-click-item="menuEventHandler" items="menuItems" ng-class="{ 'enabled' : haveEditiorsPermissions()}"></detail-menu>

  </div>

  <detail-category placeholder="'selectOffice' | i18next" value="item.office" items="offices" on-change="onCategory" ng-class="{ 'disabled' : !havePermissions('tags')}" ng-if="!item.parent" ></detail-category>

  <div class="parent" ng-if="templateDoc.parent" ng-bind-html="currentContext.entity.title"></div>

  <div ng-if="!disabled && havePermissions('description')">
    <div class="detail-title">
      <div class="item-title"
         contenteditable="true"
         tabindex="1"
         strip-br="true"
         ng-model="item.title"
         medium-editor>
      </div>
    </div>

    <div class="detail-desc""
       contenteditable="true"
       tabindex="2"
       strip-br="true"
       medium-editor
       ng-model="item.description"
       options="{{editorOptions}}"
    >
    </div>
  </div>

  <div ng-if="disabled || !havePermissions('description')">
    <div class="detail-title">
      <div class="item-title"
         contenteditable="true"
         tabindex="1"
         strip-br="true"
         ng-model="item.title"
         medium-editor
         data-disable-editing="true"
         data-disable-toolbar="true"
      >
      </div>
    </div>

    <div class="detail-desc"
      contenteditable="true"
      tabindex="2"
      strip-br="true"
      medium-editor
      ng-model="item.description"
      options="{{editorOptions}}"
      data-disable-editing="true"
      data-disable-toolbar="true"
    >
    </div>
  </div>

  <div class="row-buttons" ng-class="{ 'disabled' : !havePermissions('description')}">
    <button ngf-select
            ngf-change="upload($files)"
            ngf-multiple="true"
            class="choose" ng-if="(!item.path && !item.spPath)">{{ 'chooseFile' | i18next }}
    </button>
    <div style="overflow:inherit" class="tab-content">
        <div class="documents">
            <div ng-if="item.path||item.spPath" class="document" >
            <!-- <a href="{{officeDocument.path}}" target="window"> -->
                <a ng-click="view(item)" target="window">
                    <div class="icon {{item.templateType}}"></div>
                    <div id="templateDocTitle" ng-bind-html="item.title"></div>
                </a>
            </div>
        </div>
    </div>
  </div>

  <detail-tabs tabs="['activities']" item="item" entity-name="templateDoc" ng-class="{ 'disabled' : !havePermissions('tabs', enableRecycled)}"></detail-tabs>

  <icu-members-footer
    ng-if="item._id"
    ng-class="{ 'disabled' : !havePermissions('watchers')}"
    entity="item"
    users="people"
    me="me"
  ></icu-members-footer>

</div>
