.detail-due {
    //width: 107px;
    display: flex;
    align-items: center;
    position: relative;
    .placeholder {
        width: 100%;
        padding-left: 25px;
        pointer-events: none;
        position: absolute;
        color: $light-grey-placeholder;
    }

    input {
        border: none;
        width: 100%;
        margin-left: 5px;
        padding: 17px 0 17px 23px;
        cursor: pointer;
        outline: none;
        background: url('/icu/assets/img/calendar.png') no-repeat scroll left center;
        &::placeholder {
            opacity: 1;
            color: $light-grey-placeholder;
        }
        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: $light-grey-placeholder;
        }

        &::-ms-input-placeholder { /* Microsoft Edge */
            color: $light-grey-placeholder;
        }
        &:focus {
          outline: none;
        }
    }

    #close {
        float: right !important;
        margin: 0;
        display: inline-block;
        padding: 2px 5px;
        background: #ccc;
    }

    #close:hover {
        float: right !important;
        display: inline-block;
        padding: 2px 5px;
        color: #fff;
    }
}

.discussion-due #past, .discussion-due #before,
.detail-due #past, .detail-due #before {
  position: absolute;
    background-color: #EBE9DE;
    border-radius: 6px;
    border: 1px solid #cbc7bd;
    z-index: 1;
    display: none;
    text-align: left;
    padding: 4px 7px;
    font-style: italic;
    &:before {
        content: '!';
        background-color: #EA5858;
        border-radius: 15px;
        border: none;
        margin-right: 4px;
        float: left;
        color: #EBE9DE;
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 20px;
        font-weight: bold;
        font-style: normal;
    }
}

discussion-due {
    @include golden-hover;

    .discussion-due {

        &.dueDiv {
            position: fixed;
            width: 160px;
            height: 370px;
            z-index: 999;
            //         margin-left : 260px;
            //         margin-top : 54px;
            // display:block !important;
            background-color: $light-grey-placeholder;
        }

        .dateTitle {
            margin-left: 30px;
        }

        #startDate {
            width: 140px;
            margin-left: 7px;
            margin-top: 7px;
        }

        #endDate {
            width: 140px;
            margin-left: 7px;
            margin-top: 3px;
        }

        #startTime {
            margin-top: -10px;
            margin-left: 10px;
        }
        #endTime {
            margin-top: -10px;
            margin-left: 10px;
        }
        #allDay {
            margin-left: 64px;
            margin-top: -10px;
        }
        #allDayTitle {
            margin-left: 49px;
        }
    }
}
#ui-datepicker-div {
    width: 307px;
    padding: 20px 13px;
    background: #2C363A;
    background-color: #2C363A !important;
    font-family: 'OpenSansHebrew';
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    color: #DFF2F9;
    /*rtl:ignore*/
    direction: ltr !important;
    border-radius: 0px;
    border: none;

    .ui-widget-header {
        font-family: 'OpenSansHebrew';
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        font-size: 12px;
        text-align: center;
        text-transform: uppercase;
        color: #FFA000;
        border: none !important;
        background:none !important;
        margin: 0 3px;
    }

    a.ui-corner-all {
        background:none;
        border: none;
        cursor: pointer;
        top: 0 !important;
        &.ui-datepicker-next {
            /*rtl:ignore*/
            right: 2px !important;
        }
        &.ui-datepicker-prev {
            /*rtl:ignore*/
            left: 2px !important;
        }
        span {
            position: initial;
            margin: auto;
            line-height: 12px;
            width: 8px;
            height: 100%;
            background-position: 0;
            background-repeat: no-repeat;
            &.ui-icon-circle-triangle-e {
                background-image: url('data:image/svg+xml;charset=UTF-8,<svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" clip-rule="evenodd" d="M0 1.39964L1.44653 -3.57628e-07L7.63636 6L1.44653 12L0 10.6004L4.74762 6L0 1.39964Z" fill="white"/></svg>');
            }
            &.ui-icon-circle-triangle-w {
                background-image: url('data:image/svg+xml;charset=UTF-8,<svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" clip-rule="evenodd" d="M8 1.39964L6.55347 -3.57628e-07L0.363637 6L6.55347 12L8 10.6004L3.25238 6L8 1.39964Z" fill="white"/></svg>');
            }
        }
    }

    table.ui-datepicker-calendar {
        margin-top: 10px;
    }

    a:hover, a:focus {
        text-decoration: none;
        box-shadow: none;
    }

    td {
        padding: 7px;
        span, a {
            width:26px;
            height: 26px;
            padding: 0;
            line-height: 26px;
        }
        a.ui-state-default {
            color: #DFF2F9;
            background:none !important;
            border: none;
            text-align: center;
            font-weight: normal;
        }
        a.ui-state-highlight {
            color: #00AEEF;
        }
        a.ui-state-active, a.ui-state-hover {
            background: #FFA000!important;
            border-radius: 50%;
            -moz-border-radius:50%;
            -webkit-border-radius:50%;
            color: #DFF2F9;
            text-align: center;
            border: none;
        }
    }

    .ui-state-disabled  {
        span {
            font-family: 'OpenSansHebrew';
            font-style: normal;
            background:none !important;
            font-weight: normal;
            border: none;
            color:#e7dada;
            text-align: center;
        }
    }
}
