@mixin ui-select {
    .ui-select-container {
        padding-top: 15px;
        background-color: transparent;

        .ui-select-match {
            box-shadow: none;
            background-color: transparent;
            outline: none;

            .ui-select-match-text {
                float: left !important;
                color: #00AEEF;
                display: flex;
                align-items: center;
                margin-top: 0;
            }

            .ui-select-toggle {
                background-color: transparent;
                border: none;
                box-shadow: none;
                padding: 0;

                i.caret {
                    display: none;
                }
            }
        }

        .ui-select-search {
            box-shadow: none;
            border-color: $light-grey1;
            min-width: 95px;
        }

        .ui-select-choices-row.active {
            .ui-select-choices-row-inner {
                background-color: #f5f5f5;
                color: $dark-grey;
            }
        }
        .ui-select-choices-row {
            .ui-select-choices-row-inner {
               display: flex;
               align-items: center;
           }
       }
   }
}
detail-status {
    @include golden-hover;

    .detail-status {
        position: relative;
        padding: 0 9px;
        font-weight: bold;
        font-size: 13px;
        display: flex;
        align-items: center;
        height: 100%;
        //min-width: 133px;
        @include ui-select;

        .ui-select-container.ui-select-bootstrap {
          padding-top: 0;
            .ui-select-match .ui-select-toggle {
                i.caret {
                    display: none;
                }
                height: auto;
            }
            i {
                -webkit-mask: url('/icu/assets/img/icon-flag.svg') no-repeat;
                mask: url('/icu/assets/img/icon-flag.svg') no-repeat;
                width: 15px;
                height: 17px;
                display: inline-block;
                margin-right: 13px;
            }
            i.new {background-color: #ff4081; }
            i.assigned{background-color: #2979ff;}
            i.in-progress{background-color: #f69679;}
            i.review{background-color: #8dc63f;}
            i.rejected{background-color: #ef5350;}
            i.done{background-color: #757575;}
            i.canceled{background-color: #ef5350;}
            i.done{background-color: #598527;}
            i.archived{background-color: #ab47bc;}
            i.waiting-approval{background-color: #ab47bc;}
            i.scheduled{background-color: #0054a6;}
            i.received{background-color: #37afef;}
            i.sent{background-color: #359123;}

            .new{color: #ff4081; }
            .assigned{color: #2979ff;}
            .in-progress{color: #f69679;}
            .review{color: #8dc63f;}
            .rejected{color: #ef5350;}
            .done{color: #757575;}
            .canceled{color: #ef5350;}
            .waiting-approval{color: #ab47bc;}
            .done{color: #598527;}
            .archived{color: #ab47bc;}
            .scheduled{color: #0054a6;}
            .received{color: #37afef;}
            .sent{color: #359123;}
        }
    }
}
