.entity-list, .sub-task-list, .sub-project-list, inbox-list {

    height: 100%;
    display: flex;
    flex-direction: column;
    .entity-list-container {
        height: calc(100% - 44px);
        overflow-y: hidden;
        .list-table {
            max-height: calc(100% - 51px);
        }
        .create-new-item {
            background: white;
            height: 51px;
            align-items: center;
            display: flex;
            color: #888888;
            padding: 15px;
            cursor: pointer;
            border-bottom: 1px solid #e1e1e1;
            border-top: 1px solid #e1e1e1;
            font-size: 14px;
        }

    }

    .autocomplete {
        position: relative;

        .suggestions {
            position: absolute;
            top: -50px;
            left: 0;
            border: 1px solid $light-grey1;

            background-color: white;
            color: black;
            z-index: 1;

            width: 400px;

            .suggestion {
                width: inherit;
                height: 30px;

                &.active {
                    background-color: $light-grey1;
                }
            }
        }
    }

    table {
        display: flex;
        tbody {
            width: 100%;
            tr {
                display: flex;
                padding-right: 15px;
                &.new-task {
                    td {
                        padding: 10px 15px;
                    }
                }
                &.empty {
                    [contenteditable][colspan]:empty:not(:focus):before {
                        padding-left: 0;
                    }
                    &.sticky {
                        position: absolute;
                        left: 0;
                        bottom:0;
                        background: #fff;
                        width: 100%;
                    }
                }

                td {
                    overflow: hidden;
                    outline: none;
                    display: flex;
                    align-items: center;
                    line-height: 40px;
                    color: #1A1A1A;
                    &:focus {
                      outline: none;
                    }

                    &.id {
                        font-size: 13px;
                        font-weight: normal;
                        color: #1A1A1A;
                    }

                    &.move{
                        width: 15px;
                        color: $grey1;
                        @media screen and (max-width: $small-resolution) {
                            display:none;
                        }
                    }

                    &.arrow {
                        margin: 0 0 0 18px;
                        width: 16px;
                        .row-arrow {
                            width: 16px;
                            height: 16px;
                            background: url('/icu/assets/img/table-row-arrow.png') no-repeat center center;
                        }
                    }

                    &.name {
                        display: flex;
                        position: relative;
                        white-space: nowrap;
                        cursor: text;
                        flex:1;
                        overflow: hidden;
                        line-height: 50px;
                        padding-right: 5px;
                        margin-right: 5px;
                        margin-left: 25px;
                        padding-left: 10px;
                        @include disable-text-styles;

                        &:before {
                            font-weight: normal;
                            font-style: italic;
                        }
                        @media screen and (max-width: $small-resolution) {
                            margin-right: 5px;
                            word-wrap: break-word;
                        }
                    }

                    &.project {
                        text-align: center;
                        width: 150px;
                        font-weight: 400;
                        font-size: 13px;
                        margin-left: 14px;
                        line-height: initial;

                        @media screen and (max-width: 1585px) {
                            width: 80px;
                        }
                        span {
                            padding: 3px 13px;
                            position: relative;
                            top: 50%;
                            left: 0;
                        }
                        span.tag {
                            padding: 3px 13px;
                            position: relative;
                            top: 0;
                            left: 0;
                            transform: none;
                            width:100%;
                            @include disable-text-styles;
                        }
                    }

                    &.office {
                        width: 9.6vw;
                        line-height: 18px;
                        span {
                            padding: 3px 13px;
                            position: relative;
                            top: 50%;
                            left: 0;
                            transform: none;
                        }
                    }

                    &.folder {
                        text-align: center;
                        width: 150px;
                        font-weight: 400;
                        font-size: 13px;
                        line-height: 18px;
                        span {
                            width: 100%;
                            padding: 3px 13px;
                            position: relative;
                            top: 50%;
                            left: 0;
                            transform: none;
                        }
                    }

                    &.status {
                        display: block;
                        text-align: center;
                        width: 150px;
                        font-weight: normal;
                        padding-right: 0;
                        padding-left: 0;
                            &.new{color: #ff4081;}
                            &.assigned{color: #2979ff;}
                            &.in-progress{color: #f69679;}
                            &.review{color: #8dc63f;}
                            &.rejected{color: #ef5350;}
                            &.done{color: #757575;}
                            &.canceled{color: #ef5350;}
                            &.done{color: #598527;}
                            &.archived{color: #ab47bc;}
                            &.waiting-approval{color: #ab47bc;}
                            &.scheduled{color: #0054a6;}
                            &.received{color: #37afef;}
                            &.sent{color: #359123;}
                        @media screen and (max-width: $small-resolution) {
                            text-align: center;
                            margin-left: 0;
                        }
                        @media screen and (max-width: 1585px) {
                            width: 80px;
                            line-height: 25px;
                        }
                    }

                   	&.due {
                        width: 150px;
                        text-align: center;
                        display: block;
                        font-size: 13px;
                        font-weight: normal;
                        color: #1A1A1A;
                        @media screen and (max-width: $small-resolution) {
                            display:none;
                        }
                        @media screen and (max-width: 1585px) {
                            width: 80px;
                        }
                    }

                    .tag {
                        @include tag(14px);
                        @include disable-text-styles;
                        padding: 5px;
                        width: initial;
                        max-width: 100%;
                        display: inline-block;
                        & * {
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                    }
                }

                &.active {
                    background-color: #E3F3F5;
                    border-bottom: 1px solid #31B9EB;
                    td {
                        color: #1A1A1A;
                        max-height: 100%;
                        //background-color: #E3F3F5;
                    }
                    td.arrow .delete-icon {
                        display: block;
                    }
                }
                &.multipleSelected {
                    background: #FCF4E6;
                }
            }
        }
    }
}

.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    background-color: $light-grey1;
}

.gu-hide {
    display: none !important;
}

.gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

.gu-transit {
    opacity: 0.2;
}

.list-table-print {
    display: none;
}

.sub-items-section {
    .name {
        cursor: text;
        flex: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-left: 13px;
        line-height: 50px;
        p {
            flex: 1;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

.bolded {
  font-weight: bold !important;
  a, b, p, i, u, blockquote, li, h1, h2, h3 {
    font-weight: bold !important;
  }
}

.bold-disabled {
  font-weight: normal !important;
  a, b, p, i, u, blockquote, li, h1, h2, h3 {
    font-weight: normal !important;
  }
}
