.backdrop-document-preview {
	opacity: 0.7 !important;

}

.modal-dialog {
    padding: 10px;

    .attachment {
        display: inline-block;
        position: relative;
        height: 120px;
        width: 100%;
        left: 0;
        $icon-width: 60px;
        $icon-padding: 19px;

        .txt {
            font-size: 22px;
        }
        .attName , .attSize {
            font-weight: bold ;
        }
        .attCreator {
            color: #FFA000 ;
        }


        #Update-icon-download-preview {
            position: relative;
            float: right;
            width: 30px;
            height: 30px;
            &:hover{
                filter: invert(75%);
            }
        }

        .icon {
            position: relative;
            float: left ;
            top: 0;
            left: 20px;
            transform: translate(-50%, 0);
            height: 80px;
            width: $icon-width;
            @include sprite(-10px, $icon-width, $icon-padding, '/icu/assets/img/attachment-large.png');
        }

        .name {
            width: 100%;
            position: absolute;
            bottom: 0;
            text-align: center;
            color: $light-grey4;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }
    .modal-body.center {
        width: 230px;
        margin: 0 auto;
    }

    .modal-separator {
        margin-top: 25px;
        margin-bottom: 5px;
    }

    .modal-content {
        #modalBulk {
            font-weight: bold;
            padding: 27px 21px;
            section {
                height: initial;
                overflow: initial;
            }

            .title {
                font-size: 17px;
                line-height: 23px;
                margin-bottom: 40px;
            }

            .ui-select-container.ui-select-bootstrap {
                i {
                    -webkit-mask: url('/icu/assets/img/icon-flag.svg') no-repeat;
                    mask: url('/icu/assets/img/icon-flag.svg') no-repeat;
                    width: 18px;
                    height: 18px;
                    display: inline-block;
                    margin-right: 13px;
                }
                .avatar {
                    margin: 5px;
                    line-height: 30px;
                }
            }
            i.new {background-color: #ff4081; }
            i.assigned{background-color: #2979ff;}
            i.in-progress{background-color: #f69679;}
            i.review{background-color: #8dc63f;}
            i.rejected{background-color: #ef5350;}
            i.done{background-color: #757575;}
            i.canceled{background-color: #ef5350;}
            i.done{background-color: #598527;}
            i.archived{background-color: #ab47bc;}
            i.waiting-approval{background-color: #ab47bc;}
            i.scheduled{background-color: #0054a6;}
            i.received{background-color: #37afef;}
            i.sent{background-color: #359123;}

            .new{color: #ff4081; }
            .assigned{color: #2979ff;}
            .in-progress{color: #f69679;}
            .review{color: #8dc63f;}
            .rejected{color: #ef5350;}
            .done{color: #757575;}
            .canceled{color: #ef5350;}
            .waiting-approval{color: #ab47bc;}
            .done{color: #598527;}
            .archived{color: #ab47bc;}
            .scheduled{color: #0054a6;}
            .received{color: #37afef;}
            .sent{color: #359123;}

            .action-button {
                height: 35px;
                width: 100px;
                border-radius: 35px;
                border: none;
                outline: none;
                background-color: #fda102;
                box-shadow: 0 3px 0 0 #ff6400;
                color: white;
                padding: 0 10px;
                white-space: nowrap;
                float: left;
                margin-right: 16px;
                position: relative;
            }
            .cancel {
                width: 100px;
                height: 35px;
                border: none;
                color: #A6A6A6;
                background: transparent;
            }
            div[icu-avatar] {
                display: inline-block;
            }
            .selected {
                display: inline-block;
            }
            .status {
                .ui-select-bootstrap > .ui-select-match > .btn {
                    text-align: left !important;
                }
                .ui-select-choices-row {
                    a {
                        height: 50px;
                        padding: 15px 20px;
                        * {
                            vertical-align: middle;
                        }
                        &:focus {
                            background-color: inherit;
                        }
                    }
                    &.active a {
                        background-color: #e3f3f5;
                    }
                }
                .form-control {
                    background-image: url(/dist/icu/assets/img/icon-flag.svg);
                    background-repeat: no-repeat;
                    background-position: left 10px center;
                    padding-left: 40px;

                    &:hover {
                        color: #333;
                        background-color: #fff;
                        border-color: #ccc;
                    }
                }
                .new              .form-control { background-image: url(/dist/icu/assets/img/icon-flag-new.svg); }
                .assigned         .form-control { background-image: url(/dist/icu/assets/img/icon-flag-assigned.svg); }
                .in-progress      .form-control { background-image: url(/dist/icu/assets/img/icon-flag-in-progress.svg); }
                .waiting-approval .form-control { background-image: url(/dist/icu/assets/img/icon-flag-waiting-approval.svg); }
                .review           .form-control { background-image: url(/dist/icu/assets/img/icon-flag-review.svg); }
                .rejected         .form-control { background-image: url(/dist/icu/assets/img/icon-flag-rejected.svg); }
                .done             .form-control { background-image: url(/dist/icu/assets/img/icon-flag-done.svg); }
            }
            .status, .assign {
                .form-control {
                    width: 100%;
                    height: 55px;
                    line-height: 39px;
                    display: block;
                    border-radius: 0;
                    margin: 10px auto;

                    .caret {
                        display: none !important;
                    }
                }
            }
            .watch {

                .watchers-list {
                display: flex;
                border: 1px solid #C8C8C8;
                margin: 10px 0;
                max-height: 250px;

                .watcher {
                  div[icu-avatar] {
                    padding: 0;

                    &.editor>div {
                      box-shadow: 0 0 0 4px #FFFFFF, 0 0 0 6px #00AEEF;
                    }
                    &.commenter>div {
                      color: #00AEEF;
                      background-color: white;
                      border: 2px solid #00AEEF;
                    }
                  }

                  .dropdown-menu {
                    top: 64px;
                    bottom: auto;

                    .status {
                      height: auto;
                    }
                    .dropdown-item {
                      display: block;
                      width: 100%;
                      padding: 3px 1.5rem;
                      clear: both;
                      font-weight: 400;
                      color: #292b2c;
                      text-align: inherit;
                      white-space: nowrap;
                      background: 0 0;
                      border: 0;
                      &:hover {
                        color: #1d1e1f;
                        text-decoration: none;
                        background-color: #f7f7f9;
                      }
                    }
                    .dropdown-divider {
                      height: 1px;
                      margin: .5rem 0;
                      overflow: hidden;
                      background-color: #eceeef;
                    }
                    .dropdown-header {
                      margin-bottom: 0;
                      color: #636c72;
                      white-space: nowrap;
                      &.name {
                        font-weight: Bold;
                        font-size: 14px;
                        line-height: 19px;
                        color: black;
                      }
                      &.status {
                        margin-top: 0;
                        font-weight: Bold;
                        line-height: 16px;
                        font-size: 12px;
                        color:#BDBDBB;
                      }
                    }
                  }
                }

                .remove {
                  right: 0;
                  position: absolute;
                  z-index: 2;
                }

                .add-member-container {
                  display: flex;
                  align-items: center;
                  color: white;

                  #addMember {
                    width: 32px;
                    height: 32px;
                    border-radius: 32px;
                    border: none;
                    margin: 14px 5px;
                  }
                }
              }
              .form-control {
                  margin-bottom: 10px;
              }
            }
            .due {
                .date {
                    display: block;
                    input {
                        padding-left: 50px;
                        width: 100%;
                        height: 100%;
                        position: relative;
                        border: none;
                        background: url(/icu/assets/img/calendar.png) no-repeat;
                        background-position: left 10px center;

                    }
                }
              .date, .detail-due {
                border: 1px solid #C8C8C8;
                margin: 10px 0;
                width: 100%;
                height: 50px;
              }
            }
            .tag {
                .items {
                    padding: 12px;
                    width: 100%;
                    min-height: 53px;
                    list-style: none;
                    margin: 10px 0;
                    border: 1px solid #E8E8E8;
                    display: inline-flex;
                    flex-wrap: wrap;

                    .tags-item, .form-control, .tags-input {
                        width: 80px;
                        height: 28px;
                        padding: 0 5px;
                        margin: 7px;
                    }
                    .tags-item {
                        line-height: 28px;
                        border: 1px solid #E8E8E8;
                        display: flex;
                        justify-content: space-between;

                        span {
                            display: block;
                            max-width: 50px;
                            overflow: hidden;
                            font-weight: normal;
                            white-space: nowrap;
                        }
                    }
                    .tags-item-remove {
                        border: none;
                        background-color: transparent;
                        transform: translateY(-1px);
                    }
                    .form-control {
                        margin: 0 -5px 10px;
                        line-height: 25px;
                        font-weight: normal;
                    }
                }
                .ui-select-match {
                    i { display: none }
                }
            }
        }
        .closeBtn {
            border: none;
            transition: 0.8s;
            position: absolute;
            top: 8px;
            right: 10px;
            background-color: white;
            &:hover {
                position: absolute;
                top: 10px;
                right: 10px;
                transform: rotate(90deg);
            }
        }
        .modal-header {
            &#modalUser {
                height: 165px;
                display: flex;
                flex-flow: row wrap;
                padding-bottom: 0;
                padding-left: 0;
                position: relative;
                .avatar {
                    border-radius: 50%;
                    margin-left: 15px;
                    height: 65px;
                    width: 65px;
                    top: 13px;
                    left: 0;
                    position: relative;
                    background-color: rgb(184, 231, 127);
                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                    }
                    span {
                        &.name {
                            top: 50%;
                            position: relative;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            display: block;
                            text-align: center;
                            font-size: 25px;

                        }
                    }
                }
                .modal-title {
                    margin: 0;
                    width: calc(100% - 85px);
                    padding: 30px 10px;
                    font-weight: bold;
                    font-size: 30px;
                    line-height: 30px;
                }
                .tabs {
                    ul {
                        height: 100%;
                        width: 100%;
                        padding-left: 0;
                        padding-bottom: 10px;
                        li {
                            color: #242424;
                            height: 83%;
                            top: 17px;
                            text-align: center;
                            display: inline-block;
                            list-style: none;
                            position: relative;
                            bottom: -25px;
                            padding: 0 35px;
                            font-size: 16px;
                            line-height: 22px;
                            width: 170px;
                            &.activeTab {
                                border-bottom: 3px solid #FFA000;
                                a {
                                    &:link, &:hover, &:active, &:visited {
                                        text-decoration: none;
                                    }
                                }
                            }
                            a {
                                color: black;
                                padding: 1px;
                                &:link, &:hover, &:active, &:visited {
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }
            }
        }
        .modal-body {
            padding: 15px 0 0;
            &#modalUser {
                min-height: 344px;
                background-color:#FCFBF6;
                .general {
                    min-height: 303px;
                    border-bottom: 1px solid #DDDDDD;
                    .title {
                        display: block;
                        margin: 26px auto 12px 8px;
                        font-size: 16px;
                        line-height: 22px;
                        padding-bottom: 2px;
                        padding-left: 17px;
                    }
                    .data {
                        display: flex;
                        flex-direction: row;
                        width:50%;
                        min-height: 266px;
                        padding-left: 25px;
                        .info {
                            .changePassword {
                                .form-group {
                                    margin: auto 0 15px;
                                    button {
                                        display: block;
                                        margin: 0 auto 25px;
                                        position: relative;
                                        left: -50%;
                                        transform: translateX(50%);
                                        background-color: #EAEAE4;
                                        border: 1px solid #D9D9D8;
                                    }
                                    label {
                                        padding-left: 0;
                                    }
                                }
                                span {
                                    &.title {
                                        padding-left: 0;
                                        margin-left: 0;
                                    }
                                }
                            }
                            .panel-collapse {
                                .panel-body {
                                    padding: 0;
                                    p {
                                        padding-bottom: 15px;
                                        margin-left: 0;
                                    }
                                }
                            }
                            .changePass {
                                color: #FFA000;
                                background-color: inherit;
                                border: none;
                                font-weight: bold;
                                padding: 8px 0;
                            }
                            input {
                                width: 350px;
                                height: 46px;
                                margin-bottom: 20px;
                                padding: 23px 12px;
                                font-size: 14px;
                                line-height: 19px;
                                color: #444F53;
                                border: 1px solid #D9D9D8;
                            }
                            label {
                                display: block;
                                font-weight: bold;
                                font-size: 14px;
                                line-height: 19px;
                                margin-bottom: 9px;
                            }
                        }
                        .changeAvatar {
                            padding-top: 10px;
                            padding-left: 30px;
                            span {
                                display: block;
                                font-size: 14px;
                                line-height: 19px;
                                margin-bottom: 12px;
                            }
                            .bold {
                                font-weight: bold;
                            }
                            .picInfo {
                                display: flex;
                                .changePic {
                                    margin-right: 20px;
                                    margin-top:20px;
                                    .avatar {
                                        border-radius: 50%;
                                        width:115px;
                                        height:115px;
                                        position: relative;
                                        span {
                                            &.name {
                                                top: 50%;
                                                position: relative;
                                                left: 50%;
                                                transform: translate(-50%, -50%);
                                                display: block;
                                                text-align: center;
                                                font-size: 45px;

                                            }
                                        }
                                        .changingNotify {
                                            animation: showing 3s linear infinite;
                                            opacity: 0;
                                            position: absolute;
                                            width: 100%;
                                            height: 100%;
                                            top: 0;
                                            text-align: center;
                                            border-radius: 50%;
                                            transition: 1s;
                                            z-index: 3;
                                            &:hover {
                                                opacity: 1;
                                            }
                                            .notifyTitle {
                                                width: 100%;
                                                display: block;
                                                position: absolute;
                                                top: 37%;
                                                left: 50%;
                                                transform: translate(-50%);
                                                z-index: 4;
                                            }
                                        }

                                        .image {
                                            width: 100%;
                                            height: 100%;
                                            border-radius: 50%;
                                            top: 50%;
                                            left: 50%;
                                            transform: translate(-50%, -50%);
                                            position: absolute;
                                            z-index: 1;
                                        }
                                    }
                                }
                                .replace {
                                    .filename {
                                        padding-top: 6px;
                                    }
                                    .actions {
                                        display: flex;
                                        button {
                                            font-weight: bold;
                                            background-color: #FCFBF6;
                                        }
                                        .replace {
                                            width: 140px;
                                            height: 35px;
                                            border-radius: 20px;
                                            margin-top: 4px;
                                            border: 1px solid #FFA000;
                                            color: #FFA000;
                                        }
                                        .reset {
                                            display: block;
                                            border: none;
                                            font-weight: bold;
                                            margin-left: 27px;
                                            background: #FCFBF6 url('../img/Vector.png') no-repeat left center;
                                            background-size: 12%;
                                            width: 60px;
                                            text-align: center;
                                            font-size: 14px;
                                            line-height: 19px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .defaultView {
                    height: 330px;
                    padding-left:25px;
                    div {
                        &.title {
                            display: block;
                            margin: 26px auto 2px 0;
                            font-size: 16px;
                            line-height: 22px;
                        }
                    }
                    .hint {
                        margin-bottom: 40px;
                        margin-top: 13px;
                        display: block;
                    }
                    .filters {
                        .filter {
                            .form-group {

                                label {
                                    display: block;
                                    margin-top: 20px;
                                }
                                div {
                                    padding-left: 0;
                                }

                            }
                        }
                    }
                    .ui-select-bootstrap {
                        background-color: black;

                        .ui-select-match {
                            span {
                                &.btn {
                                    border: 1px solid #D9D9D9;
                                    position: relative;
                                    border-radius: 0;
                                    width: 265px;
                                    margin-right: 45px;
                                    left: -543px;
                                }
                            }
                        }
                    }
                }
                .notification {
                    height: 330px;
                    padding-left:25px;
                    .hint {
                        margin-bottom: 40px;
                        display: block;
                    }
                    .line {
                        label {
                            display: block;
                        }
                        .title {
                            display: block;
                            font-size: 14px;
                            line-height: 19px;
                        }
                        .hint {
                            font-weight: normal;
                            font-weight: normal;
                            font-size: 13px;
                            line-height: 18px;
                        }
                    }
                    .ui-select-bootstrap {
                        width: 265px;
                        height: 10px;
                        left: 70%;
                        margin: -85px 0 0;
                        padding: 0;
                        position: absolute;

                        .ui-select-choices-row {
                            a {
                                height: 40px;
                                padding: 10px 20px;
                            }
                            .active {
                                a {
                                    background-color: #D9D9D9;
                                    }
                                }
                            }

                        .form-control {
                            width: 265px;
                            position: relative;
                            margin-left: -45px;
                            border-radius: 0;
                            border: 1px solid #D9D9D9;
                        }

                        .ui-select-match {
                            .btn {
                                border: 1px solid #D9D9D9;
                                position: relative;
                                border-radius: 0;
                                width: 265px;
                                margin-right: 45px;
                            }
                        }
                        .ui-select-choices {
                            border: 1px solid #D9D9D9;
                            width: 100%;
                            left: -45px;
                            top: 34px;
                            position: absolute;
                            border-radius: 0;

                        }
                        .form-control {
                            width: 265px;
                        }
                    }
                }
            }
        }
    }

    #dragcontainer {
        width: 200px;
        height: 44px;
        position: relative;
        display: block;
        border: 2px solid #ddd;
        -webkit-border-radius: 17px;
        -moz-border-radius: 17px;
        border-radius: 17px;
        background: white url("/icu/assets/img/swipe-arrows.png") no-repeat center center;
        background-position-x: -10px;
        padding: 2px;
        /*rtl:begin:ignore*/
        direction: ltr;
        /*rtl:end:ignore*/
    }
    #dragwidget {
        //	direction: rtl;
    }
    .dragshape {
        position: absolute;
        /*rtl:begin:ignore*/
        right: 0;
        /*rtl:end:ignore*/
        width: 34px;
        height: 36px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        background: #FFA000 url("/icu/assets/img/swipe-arrow.png") no-repeat center center;
        &.selected {
            background-color: green;
        }
    }
    .modal-table {
        width: 100%;
        padding: 10px 0;
        background-color: #eee;
        tr {
            background-color: #F3F1F6;
            border-top: 1px solid #F3F1F6;
            border-bottom: 1px solid #F3F1F6;
        }
        th {
            text-align: right;
        }
        td, th {
            &.filename {
                background: url(/icu/assets/img/document-grey.svg) no-repeat center right;
                padding-right: 30px;
                background-position: right 10px center;
            }
            padding: 5px 10px;
            height: 50px;
        }
    }

	.modal-readby-table {
		padding: 10px 0;
		margin-bottom: 7px;
		tr {
			background-color: #eee ;
			border-top: 1px solid #F3F1F6;
		}
		th {
			text-align: center;
		}
		td,th {
			padding: 5px 10px;
		}
		td {
		&.wasupgreen {
			color: green ;
		}
		&.wasupgray {
			color: gray ;
		}
		}

	}

    .modal-body {
		padding: 15px;
	}
	.modal-content {
		border-radius: 0px;
	}
    .btn {
        float: right;
		outline: none !important;
	    &.close{
	    	 &:hover{
	    	 	 transition-duration: 0.8s;
				-ms-transform: rotate(90deg); /* IE 9 */
			    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
			    transform: rotate(90deg);
			}
	    }

    }
    .modal-footer .btn + .btn {
        margin-right: 5px;
	}

	#iframeDoc {
		iframe#document-preview {
			border: 0 none;
		}
	}
}

.comp {
	button {
		font-weight: initial;
    	font-size: 32px;
	}
	h3 {
		font-weight: 700;
		font-size: 20px;
		margin-top: 14px;
	}
	.compBtn {
	    background: #fba004 url("/icu/assets/img/icon-lock.svg") no-repeat center center;
	    width: 30px;
	    height: 30px;
	    border-radius: 15px;
	    border: none;
	    float: left;
	    margin: 14px 7px 0 16px;
    }
	ul.selectedComp {
	    list-style-type: none;
	    padding-left: 20px;
    	padding-right: 20px;
	    li:first-child div{
	    	border-top: 1px solid #aaaaaa;
	    }
		li div {
			padding: 10px 0;
			border-bottom: 1px solid #aaaaaa;

			button {
			    color: #fff;
			    background-color: #888;
			    height: 14px;
			    width: 14px;
			    border-radius: 10px;
			    padding: 0 0px 0px 0.4px;;
			    font-size: 14px;
			    opacity: 1;
			    margin-top: 3px;
			    /*line-height: 12px;
    			text-align: center;
    			outline: none;*/
			}
		}
	}
	.compList {
		padding-left: 20px;
    	width: 37em;
    	display: inline-block;
	}
	.showSelect {
	    width: 26px;
	    height: 26px;
	    margin: 0;
	    padding: 0;
	    line-height: 24px;
	    border-radius: 15px;
	    font-size: 24px;
	    color: white;
	    background-color: #ffa004;
	    display: inline-block;
    	margin-right: 17px;
		outline: none !important;
	}
	.c19nList {
		float: left;
		width: 86%;
    	margin-left: 17px;
    	margin-bottom: 10px;
	}
	.errorMessage {
		clear: both;
	    text-align: center;
	    color: red;
	    width: 100%;
	    font-weight: bold;
	    margin-top: 15px;
	    float: left;
	}
	&.modal-header {
		border-bottom: none;
	}
	&.modal-body {
		height: 350px;
	}
}

.close {
    float: right;
}

@mixin ui-select {
    .ui-select-container {
        //padding-top: 13px;
        //background-color: transparent;

        .ui-select-match {
            box-shadow: none;
            background-color: transparent;
			outline: none;

            .ui-select-match-text {
                float: left !important;
                color: #00AEEF;
                display: flex;
                align-items: center;
                height: 60%;
                margin-top: 6px;

            }

            .ui-select-toggle {
                background-color: transparent;
                //border: none;
                //box-shadow: none;
                padding: 0;

                i.caret {
                    display: none;
                }
            }
        }

        .ui-select-search {
            box-shadow: none;
            border-color: $light-grey1;
        }

        .ui-select-choices-row.active {
            .ui-select-choices-row-inner {
                background-color: #f5f5f5;
                color: $dark-grey;

            }
        }
        .ui-select-choices-row {
            .ui-select-choices-row-inner {
                display: flex;
                align-items: center;
            }
        }
    }
}

.user {

    @include ui-select;
}

.doneBy {

    @include ui-select;
}

.notice {
    @include ui-select;
}

.verticalUser {
    //sswidth:160%;
    display: flex;
    align-items: center;
}

$icon-width: 60px;
$icon-padding: 19px;
.templateIcon {
	position: absolute;
	top: 15px;
	left: 50%;
	transform: translate(-50%, 0);
	height: 80px;
	width: $icon-width;
	@include sprite(-10px, $icon-width, $icon-padding, '/icu/assets/img/attachment-large.png');
}

.card{
	margin-top: 130px;

}

.template{
	border: solid 1px;
	margin: 7px;
	&:hover{
		background: #fda102;
	}
	cursor: pointer;
}

.template-modal-title{
	text-overflow: ellipsis;
	width: 115px;
    overflow: hidden;
    white-space: nowrap;
}

.loader2 {
	position: absolute;
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #2d82bb;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
	// margin-right:50%;
	margin-left: 30%;
	margin-top:68%;
	opacity: 1!important;
  }

  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }



.manageTemplate{
	margin-right: 10px !important;
	@include ellipse(12px);
	@include button;
	background-color: #323d41;
	box-shadow: 0 3px 0 0 #101314;
	color: white;
	font-size: 13px;
	font-weight: 700;
	padding-left: 5px;
	padding-right: 5px;
	margin-top: 10px;
	&:hover{
		background-color: #4C5D63;
		transition: 0.8s;
	}
}

.check-box{
	margin-top: 15px;
}

// .ulWhatsNew{
// 	list-style: none;
// 	padding:0;
//     margin:0;
// }
// .liWhatsNew {
//     padding-left: 1em;
//     text-indent: -.7em;
// }

// .liWhatsNew:before {
//     content: "\f105";
//     font-family: FontAwesome;
//     color: #337ab7; /* or whatever color you prefer */
//     margin-right: 4px;
// }

// $turquoise      : #34768E;
// $seafoam        : #79B7AA;
// $navy           : #043F6C;

// .hero {

// 	text-align: center;
// 	position: relative;
// 	//height: 100%;
// 	color: #fff;
// 	background: linear-gradient(to bottom left, rgba(120,180,170,0.25), rgba(0,40,65,0.75));
// 	animation: 15s linear 0s normal none infinite background1;
// 	animation: 15s linear 0s normal none infinite background1;
// }

// .hero__content {
// 	position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
// 	height: 3em;
// 	overflow: hidden;
// }

// .ulWhatsNew {
// 	width: max-content;
//   margin: 0;
// 	padding: 0;
//   list-style: none;
//   animation: 12s linear 0s normal none infinite scroll1;
// }

// .ulWhatsNew .liWhatsNew {
// 	font-size: 2.5em;
//   margin: 0;
// }

// .liWhatsNew {

// }

// .spanWhatsNew {
// 	display: block;
// 	margin-left: -100%;
// }

// .modal-body-WhatsNew{
// 	height: 400px;
// }

// @keyframes scroll1 {
//   0%, 93%, 100% {
//     -webkit-transform: translateY(0);
//             transform: translateY(0);
//   }
//   3%, 23% {
//     -webkit-transform: translateY(-20%);
//             transform: translateY(-20%);
//   }
// 	25%, 45% {
//     -webkit-transform: translateY(-40%);
//             transform: translateY(-40%);
//   }
//   48%, 68% {
//     -webkit-transform: translateY(-60%);
//             transform: translateY(-60%);
//   }
//   71%, 91% {
//     -webkit-transform: translateY(-80%);
//             transform: translateY(-80%);
//   }
// }

// @keyframes background1 {
//   0%, 100% {
//     background-color: $seafoam;
//   }
//   25%, 75% {
//     background-color: $turquoise;
//   }
//   50% {
//     background-color: $navy;
//   }
// }

.carousel-inner .item{
	background: #a7cfdf; /* Old browsers */
	background: -moz-linear-gradient(top,  #a7cfdf 0%, #23538a 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #a7cfdf 0%,#23538a 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #a7cfdf 0%,#23538a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#23538a',GradientType=0 ); /* IE6-9 */
    text-align: center;
	height: 400px;/*change as your needs*/
}

.carousel-inner .item img{
	width:880px;
	height:400px;
}

.carousel-inner .item .container .carousel-caption{
	margin-bottom:200px;
}

.control-buttons {
    text-align: center;
}

.carousel-control{
	z-index: 11;
}
.myCarousel .carousel-indicators li , .myCarousel .carousel-indicators li.active {
  border-radius: 0;
  width: 50px;
  height: 3px;
  margin: 0 5px 0;
  border:0;
}
.myCarousel .carousel-indicators li{
  position: relative;
  background-color:gray;
}
.carousel-progress-bar {
  position:absolute;
  left:0;
  top:0;
  height: 100%;
  background-color: #5cb85c;/*progress bar color*/
  width: 0;
  margin: 0 0 0 0;
  border: none;
  z-index: 11;
  opacity:0;
}
.myCarousel .carousel-indicators li.active .carousel-progress-bar{
  opacity:1;
}

@keyframes showing {
    25% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
}

