.panes-wrapper {
        transition: all cubic-bezier(0.95, 0.96, 0.95, 0.94) 0.3s;

    .list-table {
        table {
            @include table;

            tbody {
                tr {
                    cursor: pointer;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    &.active {
                        background-color: rgba(0, 174, 239, 0.1);
                        border: 1px solid #00AEEF;

                        .project {
                            color: black;
                        }

                        .office {
                            color: black;
                        }

                        .folder {
                            color: black;
                        }

                    }

                    &:not(.active):hover {
                        background-color: #E1F2F8;
                        transition: 0.8s;
                    }


                    .tick {
                        text-align: left;
                        margin-left:10px;

                        input {
                            float: left;
                            width: 22px;
                            height: 22px;
                            position: relative;
                            background-color: white;
                            -webkit-appearance: none;
                            border: 1px solid #E1E1E1;

                            &:checked {
                                border: 1px solid #adb8c0;
                                box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
                                color: #99a1a7;

                                &:after {
                                  height: 18px;
                                  width: 14px;
                                  background-image: url('../img/VectorV.png');
                                  background-position: center center;
                                  background-repeat: no-repeat;
                                  content: '';
                                  font-size: 14px;
                                  position: absolute;
                                  top: 0;
                                  left: 3px;
                                  color: #99a1a7;
                                }
                        }   }
                    }

                    .id {
                        text-align: left;
                        margin-left: 10px;
                        min-width: 20px;
                        width: 22px;
                        text-align: center;

                        @media screen and (max-width: $small-resolution) {
                          display: none;
                        }
                    }
                }
            }
        }
        .subTasks-nested {
            display: flex;
            flex-direction: column;
            height: auto;
        }
    }
}

.detailspane-modal {
    .modal-header {
        button {
            float: right;
        }
    }
    .modal-body {
        padding: 0 !important
    }
    .panes-wrapper {
        margin-left: 0;
        width: 100%;

    }
    .sidepane, .middlepane {
        display: none !important;
    }
    .detailspane {
        width: 100%;
    }
}

@media print {
  html {
    height: auto;
    body {
      height: auto;
      overflow: visible !important;
    }
    section {
      height: auto;
      overflow: visible;
    }
  }
  .animate-hide {
      display: none;
  }

  .icu-data {
    overflow: visible !important;
    height: auto !important;
  }
  .panes-wrapper {
      width: 100% !important;
      margin-left: 0 !important;
  }
  .middlepane {
      height: auto;
      width: 100% !important;
      overflow: visible !important;

      .full-height {
          height: auto !important;
          overflow: visible !important;
      }

      .task-list {
          overflow: visible;
          height: auto !important;

          .entity-list-container {
              height: auto !important;
          }
      }
      .middlepane-container {
          height: auto !important;
      }
  }
  .middlepane .filters {
      display: none;
  }
  .middlepane .header {
      display: none;
  }
  .list-table {
      display: none;
  }
  .middlepane .header-wrap {
      height: auto !important;
      .title {
        border-bottom: 1px solid #e1e1e1;
        padding-bottom: 10px;
        margin-bottom: 10px;
        .showInPrint {
            display: block !important;
        }
      }
        .status {
            &.new{color: #ff4081;}
            &.assigned{color: #2979ff;}
            &.in-progress{color: #f69679;}
            &.review{color: #8dc63f;}
            &.rejected{color: #ef5350;}
            &.done{color: #757575;}
            &.canceled{color: #ef5350;}
            &.done{color: #598527;}
            &.archived{color: #ab47bc;}
            &.waiting-approval{color: #ab47bc;}
            &.received{color: #37afef;}
            &.sent{color: #359123;}

        }
      .more-info {
          display: block !important;
            padding-bottom: 10px;
          & > div{
              display: inline-block;
          }
      }
        .discussion-info {
            display: flex !important;
            height: 90px;
            flex-direction: column;
            flex-wrap: wrap;
            & > div {
                display: flex;
                & > div:first-child {
                    font-weight: bold;
                    margin-right: 5px;
                }
            }
            .discussion-members {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                & > span {
                    margin-right: 5px;
                }
            }
        }
  }
  .list-table-print {
      display: block !important;
        height: 100%;
      .header {
        display: flex !important;
        font-weight: bold;
        height: auto;
        background-color: #f7f7f7;
        padding: 10px;
        border-bottom: none;
    }
    .task-row {
        border-top: 1px solid #e1e1e1;
    }
    & > div {
         display: flex;
        justify-content: space-between;
        padding: 10px;
        & > div {
            width: 15%;
            &:first-child {
                width: 40%;
                font-weight: bold;
            }
        }
        .status {
            &.new{color: #ff4081;}
            &.assigned{color: #2979ff;}
            &.in-progress{color: #f69679;}
            &.review{color: #8dc63f;}
            &.rejected{color: #ef5350;}
            &.done{color: #757575;}
            &.canceled{color: #ef5350;}
            &.done{color: #598527;}
            &.archived{color: #ab47bc;}
            &.waiting-approval{color: #ab47bc;}
            &.received{color: #37afef;}
            &.sent{color: #359123;}
        }
        .project {
            padding: 3px 13px !important;
        }
        .office {
            padding: 3px 13px !important;
        }
        .folder {
            padding: 3px 13px !important;
        }
        .tag {
            @include tag(14px);
            padding: 5px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: initial;
            max-width: 100%;
            display: inline-block;
        }
        .watchers {
            display: flex;
            flex-direction: column;
        }

    }
    .subTasks {
        flex-direction: column;
        padding: 0;
        border-bottom: none;
        & > div, & > div:first-child {
            width: 100%;
            font-weight: inherit;
            border-bottom: 1px solid #e1e1e1;
            background-color: #fcfbf6;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            & > div {
                width: 15%;
                &:first-child {
                    width: 55%;
                    padding-left: 20px;
                }
            }
        }
        & > div:last-child {
            border-bottom: none;
        }
    }
  }
  .bottomBar {
      display: none;
  }
}

