.icon {
  width: 70px;
}

.icon-task {
  background: url("/icu/assets/img/task-grey.svg") no-repeat center center;
}

.icon-project {
  background: url("/icu/assets/img/icon-project.svg") no-repeat center center;
  background-size: 26px;
}

.icon-discussion {
  background: url("/icu/assets/img/icon-discussion-grey.svg") no-repeat center center;
}

.icon-document {
  background: url("/icu/assets/img/document-grey.svg") no-repeat center center;
}

.icon-attachment {
  background: url("/icu/assets/img/icon-attachment.svg") no-repeat center center;
}

.icon-officeDocument {
  background: url("/icu/assets/img/document-grey.svg") no-repeat center center;
}

.icon-folder {
  background: url("/icu/assets/img/folder.svg") no-repeat center center;
}

.icon-office {
  background: url("/icu/assets/img/office.svg") no-repeat center center;
}

//.active {
//  .icon-task {
//    background: url("/icu/assets/img/task-white.svg") no-repeat center center;
//  }
//  .icon-project {
//    background: url("/icu/assets/img/project.png") no-repeat center center;
//  }
//  .icon-discussion {
//    background: url("/icu/assets/img/icon-discussion-white.svg") no-repeat center center;
//  }
//  .icon-document {
//    background: url("/icu/assets/img/icon-document.svg") no-repeat center center;
//  }
//  .icon-attachment {
//    background: url("/icu/assets/img/icon-attachment.svg") no-repeat center center;
//  }
//
//  .icon-officeDocument {
//    background: url("/icu/assets/img/icon-document.svg") no-repeat center center;
//  }
//  .icon-folder {
//    background: url("/icu/assets/img/folder-grey.png") no-repeat center center;
//  }
//  .icon-office {
//    background: url("/icu/assets/img/office-grey.png") no-repeat center center;
//  }
//
//}

em {
  font-weight: 700;
}

.search-row em {
  font-style: normal;
  font-weight: bold;
}

.panes-wrapper .list-table table .search-row {
  font-weight: normal;
}

.search-list {
  height: 100%;

  .icu-search-list-container {
    @include scroll;
    overflow-y: auto;
    height: 100%;

    &.bar-padding{
      height: calc(100% - #{$multiple-select-bar-height});
    }
  }

  .list-table{
    .search {
      .project.tag, .office.tag {
        border-radius: 15px;
        padding: 3px 14px;
        max-width: 50px;
        line-height: 50px;
      }
      tr {
        display: table-row !important;

        td:nth-child(4) {
          width: 40%;
        }
        .id{
          width: 32px;
        }
      }
      .tick {
        height: 50px;
        width: 30px;
          input {
              margin-left: 10px;
          }
      }
    }
  }
}
