.ui-select-container[ng-model="data.task.assign"] {
  input {
    height: 51px;
    border-radius: 0;
  }
  .ui-select-choices {
    width: auto;
      @include scroll;
    .ui-select-choices-row {
      &.active {
        a {
          background-color: #E3F3F5;
          color: #1A1A1A;
        }
      }
      .ui-select-choices-row-inner {
        display: flex;
        align-items: center;
        height: 47px;
        padding: 4px 20px 5px 10px;
        .avatar {
          margin: 0 9px 0 0;
        }
      }
    }

  }
}
.sub-items-section {
    margin: 13px 20px 0;
    position: relative;
  .add-sub-tasks {
    color: #fda102;
    font-size: 14px;
    transition: 0.8s;
    cursor: pointer;
    font-weight: normal !important;
    &:hover {
      text-decoration: underline;
    }
  }
  .open {
    div.dropdown-trigger {
      border-color: #fda102;
      background-color: #fda102;
      i {
        color: #fff;
      }
    }
  }
  .sub-task-dir {
    max-height: 247px;
    overflow: auto;
  }

    .sub-tasks-title {
      width: 21%;
      display: inline-block;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .dropdown-trigger {
      border: 1.5px solid #d9d9d9;
      border-radius: 50%;
      width: 22px;
      padding: 0 3px;
      background-color: #fff;
      i {
        color: #d9d9d9;
      }
    }
    .open-template-menu {
      display: inline-block;
      float: right;
    }
    .dropdown-menu {
      width: 270px;
      right: 0;
      left: auto;
      padding: 0;
      li.title, li.templates {
        span {
          border-bottom: 1px solid #d9d9d9;
        }
      }
      li {
        margin: 0 10px;
        span {

          display: block;
          padding: 0px 5px;
          line-height: 2.5;
          margin: 5px 5px;
          &.last {
            border-bottom: none;
          }
        }
        &.templates {
          .delete {
            display: none;
            background-image: url(/icu/assets/img/X.png);
            width: 13px;
            height: 13px;
            background-repeat: no-repeat;
            background-position: center;
            padding: 15px 16px;
            border: none;
            margin: 0;
          }
        }
        &.templates:hover {
          .delete {
            display: inline-block;
          }
        }
        &.new-template {
          margin: 0 !important;
          div {
            span {
              border-bottom: none;
            }
            background-color: rgb(246, 246, 246);
            border-top: 1px solid rgb(217, 217, 217);
            input {
              border: none;
              margin: 5px 13px;
              line-height: 2.5;
              padding-left: 12px;
              width: 90%;
            }
            /* .save-template{
                 display: inline-block;
                 line-height: 2.5;
                 border: none;
                 background-color: #fff;
                 padding: 0px 6px;
                 }*/
          }
        }
        &.avatar {
          background-color: #f6f6f6;
          margin: -5px 0 0 0 !important;
          padding: 0 16px;
          span {
            margin-top: 0;
            display: block;
          }
          [icu-avatar] {
            display: inline-block;
          }
          span:last-child {
            display: inline-block;
            /*width: 70%;*/
            line-height: 1;
            /*border: none;*/
            width: 100%;
            margin: 0;
          }
          .avatar {
            height: 26px;
            width: 26px;
            background-color: $green;
            border-radius: 15px;
            display: inline-block;
            margin: 0 10px;
            float: left;
            font-size: 20px;
            line-height: 25px;
            img.image {
              margin-top: -4px;
            }
          }

        }
        .save-template {
          height: calc(12px * 2);
          border-radius: 12px;
          background-color: #fda102;
          box-shadow: 0 3px 0 0 #ff6400;
          color: white;
          font-size: 13px;
          font-weight: 700;
          width: 65px;
          text-align: center;
          margin: auto;
          line-height: 1.75;
          cursor: pointer;
          &.empty {
            background-color: #929292;
            box-shadow: 0 3px 0 0 #e1e1e1;
            cursor: auto;
          }
        }
        &:last-child {
          margin: 0;
          background-color: #f6f6f6;
          padding: 10px
        }
      }
      /*li span:last-child{
          border-bottom: none;
          }*/
    }
    .template-watcher {
      .ui-select-match {
        span.ui-select-toggle {
          padding-top: 3px;
          .ui-select-match-text {
            line-height: 1;
          }
          .summary-content {
            vertical-align: super;
          }
        }
      }
      .ui-select-choices {
        width: 600px;
        .summary-content {
          vertical-align: super;
        }
      }
    }

  .summary {
    border: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1 !important;
    background-color: white !important;

  }
  icu-sub-task-list {
    margin-top: 7px;
  }
  table {
    display: flex;
    tbody {
      width: 100%;
      tr {
        position: relative;
      }
    }
  }
  table tbody {
    border: 1px solid #e1e1e1;
  }
  .id {
    display: none;
  }
  .user {
    position: relative;
    width: 140px;
    margin-left: 10px;
    height: 51px;
    .no-assignee {
      position: absolute;
      top: 0;
      left: 0;
      height: 51px;
      width: 100%;
      display: flex;
      align-items: center;
      .avatar-placeholder {
        background: url(/icu/assets/img/icon-people.png) no-repeat center center;
        height: 24px;
        width: 24px;
        border-radius: 50%;
        padding: 0;
        border: 1px solid $light-grey-placeholder;
      }
    }
    .ui-select-placeholder {
      position: absolute;
      left: 10px;
    }
    .ui-select-bootstrap .ui-select-toggle {
      padding-right: 0;
      padding-left: 0;
      //padding-top: 4px;
      height: 51px;
      border: none;
      box-shadow: none;
      display: flex;
      align-items: center;
    }
    .pull-left {
      float: left !important;
    }
    .ui-select-container {
      .ui-select-match {
        .ui-select-match-text {
          height: auto;
          margin: 0;
          width: 100%;
          .summary-content {
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
    .avatar {
      height: 26px;
      width: 26px;
      background-color: $green;
      border-radius: 15px;
      display: inline-block;
      margin: 0 20px 0 0;
      float: left;
      font-size: 20px;
      line-height: 25px;
      img.image {
        margin-top: -4px;
      }
    }
    .summary-content {
      display: inline-block;
      line-height: 30px;
    }
  }
  .status {
    width: 115px;
    margin-left: 10px;
    .ui-select-container.ui-select-bootstrap {
      .ui-select-match .ui-select-toggle {
        border: none;
        box-shadow: none;
        height: auto;
        i.caret {
          display: none;
        }
        .ui-select-match-text {
          display: flex;
          align-items: center;
          i {
            margin-right: 9px;
          }
        }
      }
      i {
        -webkit-mask: url(/icu/assets/img/icon-flag.svg) no-repeat;
        mask: url(/icu/assets/img/icon-flag.svg) no-repeat;
        width: 15px;
        height: 17px;
        display: inline-block;
        margin-right: 3px;
      }
      i.new {
        background-color: #ff4081;
      }
      i.assigned {
        background-color: #2979ff;
      }
      i.in-progress {
        background-color: #f69679;
      }
      i.review {
        background-color: #8dc63f;
      }
      i.rejected {
        background-color: #ef5350;
      }
      i.done {
        background-color: #757575;
      }
      i.canceled {
        background-color: #ef5350;
      }
      i.done {
        background-color: #598527;
      }
      i.archived {
        background-color: #ab47bc;
      }
      i.scheduled {
        background-color: #0054a6;
      }
      i.received {
        background-color: #37afef;
      }
      i.sent {
        background-color: #359123;
      }
      .new {
        color: #ff4081;
      }
      .assigned {
        color: #2979ff;
      }
      .in-progress {
        color: #f69679;
      }
      .review {
        color: #8dc63f;
      }
      .rejected {
        color: #ef5350;
      }
      .done {
        color: #757575;
      }
      .canceled {
        color: #ef5350;
      }
      .done {
        color: #598527;
      }
      .archived {
        color: #ab47bc;
      }
      .scheduled {
        color: #0054a6;
      }
      .received {
        color: #37afef;
      }
      .sent {
        color: #359123;
      }
    }
  }
  .due {
    width: 80px;
    margin-left: 15px;
    font-weight: normal;
    font-size: 13px;
    #close {
      float: right !important;
      margin: 0;
      display: inline-block;
      padding: 2px 5px;
      background: #ccc;
    }

    #close:hover {
      float: right !important;
      display: inline-block;
      padding: 2px 5px;
      color: #fff;
    }
    .placeholder {
      position: absolute;
      top: 50%;
      transform: translateX(80%) translateY(-50%);
      color: $light-grey-placeholder;
      padding-left: 5px;
    }

    input {
      appearance: none;
      border: none;
      float: right;
      width: calc(100% - 10px);
      margin-left: 10px;
      cursor: pointer;
      outline: none;
    }
    .past {
      position: absolute;
      top: 341px;
      background-color: #EBE9DE;
      border-radius: 6px;
      border: 1px solid #cbc7bd;
      z-index: 1;
      display: none;
      text-align: left;
      padding: 4px 7px;
      font-style: italic;
      &:before {
        content: '!';
        background-color: #EA5858;
        border-radius: 15px;
        border: none;
        margin-right: 4px;
        float: left;
        color: #EBE9DE;
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 20px;
        font-weight: bold;
        font-style: normal;
      }
    }
  }
  .arrow {
    width: 30px;
    margin-left: 10px;
    border-left: 1px solid #E1E1E1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    .row-arrow {
      width: 16px;
      height: 16px;
      background: url('/icu/assets/img/table-row-arrow.png') no-repeat center center;
    }
  }
  .delete {
    width: 25px;
    height: 55px;
    right: 3%;
    border: none;
    img {
      margin: 70% 0;
    }
  }
  .isNew {
    background-color: #E1F2F8;
    transition: 0.8s;
  }
  .notNew {
    transition: 0.8s;
  }

}
.sub-entity {
    position: relative;
    max-height: 205px;
    overflow-y: scroll;
}
.pull-left {
  float: left !important;
}

@media (max-width: 890px) {
  .sub-entity .user .summary-content {
    display: none
  }
  .sub-entity .user a .summary-content {
    display: block;
  }
}

#build-in-search {
  display: none;
}
