$header-height: 55px;
$footer-height: 55px;

$multiple-select-bar-height: 44px;

$detailspane-width: 620px;
$min-detailspane-width: 575px;

$sidepane-width: 319px;
$min-sidepane-width: 274px;

$small-resolution: 1340px;

$searchIconsSize: 16px;

$border: #313c40;
$dark-grey: #141e20;
$grey: #313c40;
$grey1: #807d7d;
$light-grey0: #3e474c;
$light-grey1: #e1e1e1;
$light-grey2: #e5ecee;
$light-grey3: #5c6c72;
$light-grey4: #5c5c5c;
$light-grey5: #CACBCA;
$light-grey-placeholder: #bdbcbc;
$orange: #fda102;
$dark-orange: #ff6400;
$cream: #fcfbf6;

$green: #b8e77f;
$blue: #00acee;
$pink: #f06eaa;
