<td class="status col-sm-2" ng-class="item.status">{{item.status | i18next}}</td>
<td class="due">{{item.startDate | date: 'dd/MM/yyyy'}}</td>
<td class="arrow">
    <i ng-if="drawArrow" class="fa chevron-right"></i>
</td>
