<!-- {{results | json}} -->
<div class="list-table">
    <table class="search">

        <tbody>
        <!--data-ui-sref="main.search.{{result.type ? result.type : result._type}}({id: result.entityId ? result.entityId : result.id})"-->
        <tr data-ng-repeat="result in results | searchResultsFilter | filteringByUpdated"
                data-ui-sref-active="active"
                icu-list-row

                data="{
                    result: result,
                    multipleSelectRefreshSelected: multipleSelectRefreshSelected,
                    changeMultipleMode: changeMultipleMode,
                }"
                multiple-select-mode="multipleSelectMode"

                ng-click="rowClicked();initialize($event, result)"
                type="search-{{result._type}}"
                ng-mouseover="showTick(result)"
                ng-mouseleave="hideTick(result)"
            >
            </tr>
        </tbody>
    </table>
</div>
