<div class="entity-details-header-bar" ng-class="{ 'disabled' : !havePermissions('summary')}">

    <detail-favorite value="item.star" on-change="onStar"></detail-favorite>

    <detail-assign value="item.assign" me="me" list="people" on-change="onAssign"></detail-assign>

    <detail-due value="item.due" on-change="onDateDue"></detail-due>

    <detail-status value="item.status" list="statuses" on-change="onStatus"></detail-status>

    <detail-color value="item.color" on-change="onColor"></detail-color>

    <detail-hi value="item" on-click="onWantToCreateRoom()"></detail-hi>

    <detail-menu items="menuItems" ng-class="{ 'enabled' : haveEditiorsPermissions()}"></detail-menu>

</div>

<details-view item="item" entity-type="'projects'"></details-view>

<div class="entity-details project-details scroll" ng-if="item._id && permsToSee">

  <div class="permission" ng-if="item && !item._id && !permsToSee">
    <div class="perIcon"></div>
    <div class="perTitle">{{ 'perTitle' | i18next }}</div>
    <div class="perMsg">{{ 'perMsg' | i18next }}</div>
  </div>

  <div class="detail-buttons">
    <button class="detail-button approval" ng-click="updateStatusForApproval()" ng-if="item.status!='waiting-approval' && item.assign && item.assign._id == me._id && !isRecycled">
      {{'updateStatusForApproval' | i18next }}
    </button>
  </div>

  <div ng-if="!disabled && havePermissions('description')">
    <div class="detail-title">
      <div class="item-title"
         contenteditable="true"
         tabindex="1"
         strip-br="true"
         ng-keydown="onEnter($event)"
         ng-model="item.title"
         medium-editor
      >
      </div>
    </div>

    <div class="detail-desc"
       contenteditable="true"
       tabindex="2"
       strip-br="true"
       medium-editor
       ng-model="item.description"
       options="{{editorOptions}}"
    >
    </div>
  </div>

  <div ng-if="disabled || !havePermissions('description')">
    <div class="detail-title">
      <div class="item-title"
         contenteditable="true"
         tabindex="1"
         strip-br="true"
         ng-keydown="onEnter($event)"
         ng-model="item.title"
         medium-editor
         data-disable-editing="true"
         data-disable-toolbar="true"
      >
      </div>
    </div>

    <div class="detail-desc"
       contenteditable="true"
       tabindex="2"
       strip-br="true"
       medium-editor
       ng-model="item.description"
       options="{{editorOptions}}"
       data-disable-editing="true"
       data-disable-toolbar="true"
    >
    </div>
  </div>

  <detail-tags value="item.tags" ng-class="{ 'disabled' : !havePermissions('tags')}" list="tags" on-change="onTags"></detail-tags>

  <div class="sub-items-section" ng-class="{ 'disabled' : !havePermissions('subs')}">

    <detail-templater
      templates="template"
      on-save="saveTemplate"
      on-delete="deleteTemplate"
      on-implement="implementTemplate"
      item="item" users="people" me="me"
    ></detail-templater>

    <icu-sub-project-list
      class="icu-sub-project-list entity-list-container"
      ng-class="{small: currentContext.entityName !== 'all', big: currentContext.entityName === 'all'}"
      project="item"
      projects="item.subProjects || []"
      load-next="loadNext"
      load-prev="loadPrev"
      draw-arrow="true"
      order="sorting"
      parent="{{item._id}}"
    ></icu-sub-project-list>

  </div>

  <detail-tabs tabs="tabs" item="item" entity-name="project" ng-class="{ 'disabled' : !havePermissions('tabs', enableRecycled)}"></detail-tabs>

  <icu-members-footer
    ng-if="item._id"
    ng-class="{ 'disabled' : !havePermissions('watchers')}"
    entity="item"
    users="people"
    me="me"
  ></icu-members-footer>

</div>
