
<div class="sub-projects-title" ng-show="addSubProjects || project.subProjects[0]._id">
    {{ 'subProjects' | i18next }}
</div>
<div ng-show="!addSubProjects && !project.subProjects[0]._id"
     class="add-sub-projects sub-projects-title"
     ng-click="addSubProjects = !addSubProjects">
    {{ 'addSubProject' | i18next }}
</div>

<div class="list-table sub-entity scroll" ng-show="addSubProjects || project.subProjects[0].id" >
    <div ng-show="isLoading" class="loader"></div>
    <table class="projects" infinite-scroll='loadMore()' infinite-scroll-container="'.list-table'" infinite-scroll-parent>
        <tbody>
            <tr data-ng-repeat="project in projects track by $index | filterRecycled | filterByOptions | filterByActiveStatus | orderBy:order.field:order.isReverse"
                ng-click="initialize($event, project)"
             icu-list-row
             data-id="{{project._id}}"
             ng-class="{'isNew': project.isNew == true,'notNew':project.isNew == false}"
             ng-mouseover="project.showDelete = true"
             ng-mouseleave="deleteShowDlt(project)"
             data="{
                        project: project,
                        index: $index,
                        drawArrow: drawArrow,
                        updateCb: debouncedUpdate,
                        searchCb: search,
                        onEnterCb: onEnter,
                        hideAutoCompleteCb: hideAutoComplete,
                        focusAutoCompleteCb: focusAutoComplete,
                        displayOnly: displayOnly,
                        searchResults: searchResults,
                        autocomplete: autocomplete,
                        delete: delete,
                        changeState: changeState,
                        people: people,
                        dueOptions: dueOptions,
                        closeOldDateNotification: closeOldDateNotification,
                        initDue: initDue,
                        statuses: statuses,
                        checkDate: checkDate,
                        open: open}"
            type="subprojects">
                <td>{{ $index }}<td>
            </tr>
        </tbody>
    </table>
    <div ng-show="autocomplete && searchResults" class="autocomplete">
        <div class="suggestions">
            <p class="suggestion" ng-repeat="result in searchResults"
                ng-class="{ 'active': $index === selectedSuggestion }"
                ng-mousedown="select(result)" ng-bind-html="result.title">
            </p>
        </div>
    </div>
</div>
