@mixin scroll {
    &::-webkit-scrollbar {
        width: 11px;
        border-radius: 30px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: white;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb { 
        background: rgb(192, 188, 188);
        height: 2px;
        margin: 20px;
        border: 3px solid white;
        border-radius: 21px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #EEEEEE;
    }
}
